body {
    background-color: black;
}

body > header > button {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}

header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: black ;
}

.support {
    width: 100px;
    grid-column-start: 4;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;
}

.support:hover, .connect:hover, .register:hover {
    color: blue;
    background-color: rgba(255, 255, 255, 0.5);
}

.connect {
    grid-column-start: 13;
    grid-column-end: 14;
}

.register {
    grid-column-start: 14;
    grid-column-end: 15;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    width: 75%;
    margin-left: 10%;
}

nav > button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navigateur {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: antiquewhite;
}

#nav_button {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    color: blue;
}